* {
  font-family: Helvetica;
}


h1 {
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

#brushes {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  background-color: mediumspringgreen;
}

#frames {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  background-color: lightcoral;
}

#paint {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  background-color: skyblue;
}

strong {
  color: blue;
  font-weight: bold;
}
